body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}
/* CSS HEADER */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}
header a {
    margin-left: 7%;
}
.logo {
    height: 50px;
}
.photograph-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 300px;
    margin: 0 5% 0 5%;
    padding: 2% 5%;
    background-color: #efefef;
    border-radius: 10px;
}
.photograph-header img {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 150px;
}
.photograph-header h1 {
    margin: 0;
    color: #D3573C;
    font-size: 60px;
    font-weight: 100;
}
.photograph-header h2 {
    margin: 0;
    color: #901C1C;
    font-weight: 500;
    font-size: 20px;
}
.photograph-header p {
    color: #787878;
}

/* CSS MEDIAS */

#photographe-medias {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 5%;
}
#photographe-medias article {
    width: calc(90% / 3);
    margin: 20px 0;
    z-index: 0;
}
article img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
article video {
    height: 400px;
    width: 100%;
    background: black;
    border-radius: 10px;
}
article .contenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 20px;
    color: #901C1C;
}
article a {
    display: block;
    height: 400px;
}
article .contenu h3 {
    margin: 0;
    font-weight: 500;
}
article .contenu p {
    display: flex;
    margin: 0;
    font-weight: bold;
}
article .contenu div {
    display: flex;
    align-items: center;
}
article .contenu .coeur-vide {
    display: block;
    width: 25px;
    height: 25px;
    margin-left: 5px;
    transform: scale(1);
    transition: transform 300ms ease-in-out;
    cursor: pointer;
}
article .contenu .coeur-vide:hover {
    transform: scale(1.2);
    transition: transform 300ms ease-out;
}
article .contenu .coeur-plein {
    display: none;
    width: 25px;
    height: 25px;
    margin-left: 5px;
    transform: scale(1);
    transition: transform 300ms ease-in-out;
    cursor: pointer;
}
article .contenu .coeur-plein:hover {
    transform: scale(1.2);
    transition: transform 300ms ease-out;
}

/* FILTRES */

#filtres {
    position: relative;
    display: flex;
    margin: 0 5% 2% 5%;
    z-index: 1;
}
#filtres p {
    font-weight: bold;
    font-size: 18px;
}
#filtres ul {
    position: absolute;
    top: 0;
    right: 80%;
    width: 10%;
    cursor: pointer;
    margin-left: 30px;
    padding: 10px;
    background: #901C1C;
    border-radius: 5px;
}
#filtres ul:hover, #filtres ul:focus {
    background: #D3573C;
}
#filtres ul#filtre-open {
    display: none;
}
#filtres ul li {
    padding: 10px 5px 10px 5px;
    list-style-type: none;
    color: white;
    font-size: 18px;
}
#filtres ul#filtre-open li#filtre-date {
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}
#filtres ul#filtre-open li:first-of-type {
    display: flex;
    justify-content: space-between;
}
#filtres ul#filtre-close li:first-of-type {
    display: flex;
    justify-content: space-between;
}
#filtres ul#filtre-close li::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: url("/images/icons/icons8-chevron-droit-26.png") center no-repeat;
    background-size: contain;
}
#filtres ul#filtre-open li#filtre-popularite::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: url("/images/icons/icons8-chevron-droit-26.png") center no-repeat;
    background-size: contain;
    transform: rotate(180deg);
}


/* CSS LIGHTBOX */

.lightbox {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: none;
    z-index: 1;
}
.lightbox_container {
    text-align: center;
}
.lightbox_container img {
    width: 900px;
    height: 650px;
    object-fit: cover;
}
.lightbox_container video {
    width: 900px;
    height: 450px;
    object-fit: cover;
    border-top: 100px solid black;
    border-bottom: 100px solid black;
}
.lightbox_next, .lightbox_prev {
    position: fixed;
    top: 50%;
    margin-top: -14px;
    width: 40px;
    height: 30px;
    background: url("/images/icons/icons8-chevron-droit-60.png") center;
    background-size: contain;
    border: none;
    text-indent: -3000px;
    cursor: pointer;
}
.lightbox_prev {
    right: auto;
    left: 17%;
    transform: rotate(180deg);
}
.lightbox_next {
    right: 17%;
}
.lightbox_close {
    position: fixed;
    top: 6%;
    right: 17%;
    width: 40px;
    height: 40px;
    background: url("/images/icons/icons8-multiplier-48.png") center;
    background-size: contain;
    border: none;
    text-indent: -3000px;
    cursor: pointer;
}
.lightbox h3 {
    margin-top: 10px;
    text-align: left;
    font-size: 20px;
    color: #901C1C;
    font-weight: 500;
}

/* CSS COMPTEUR DE LIKES */

#compteur-likes {
    position: fixed;
    bottom: 0;
    right: 2%;
    display: flex;
    padding: 25px 35px;
    background: #D3573C;
    border-radius: 10px 10px 0 0;
}
#compteur-likes span {
    font-size: 25px;
    font-weight: bold;
}
#compteur-likes span:first-of-type {
    display: flex;
    align-items: center;
    margin-right: 60px;
}
#compteur-likes span:first-of-type:after {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    margin-left: 15px;
    background: url("/images/icons/coeur.png");
    background-size: contain;
}


/* CSS FORM */

#contact_modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
.contact_button:hover, .contact_button:focus {
    background-color: #D3573C;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px 35px 35px;
    margin: 5% auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin-bottom: 3%;
}

.modal header img {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.modal header h2 {
    margin: 0;
    font-size: 40px;
    font-weight: normal;
}
.modal header p {
    margin: 0;
    font-size: 40px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 25px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
}

form input {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
}
form .textarea {
    height: 130px;
    margin-bottom: 5%;
}